  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1><font size="4"><a href="{% url 'index' %}"><span>Gazi Üniversitesi Genç Yeşilay Topluluğu</span></a></font></h1>
      </div>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="{% url 'index' %}">Ana Sayfa</a></li>
	      <li><a href="{% url 'yessem2020' %}">Yessem2020</a></li>
          <li><a href="{% url 'about' %}">Hakkımızda</a></li>
          <li><a href="{% url 'team' %}">Topluluğumuz</a></li>
        </ul>
      </nav>

    </div>
  </header>
